@font-face {
  font-family: "iconfont";
  src: url('../../assets/font/iconfont.ttf?t=1565609986310') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche2:before {
  content: "\e716";
}

.icon-jiahao:before {
  content: "\eaf3";
}

