@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './sidebar-righter.scss';
@import './decorate/publicStyle.scss';
@import './decorate/iconfont.css';
// @font-face {
//   font-family: 'PingFangSC-Regular';
//   src: url('../assets/font/PingFangSCRegular.ttf'); //你的资源目录
//   font-weight: normal;
//   font-style: normal;
// }
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:rgba(242,242,249,1);
  font-size: 14px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
  }
}

/*列表样式*/
ul, li, dl, dt, dd {
  list-style:none;
}

table{
  font-size:14px;
  .table-btn{
	color:#655EFF;
	margin-right:10px;
	cursor: pointer;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
	color: #337ab7;
	cursor: pointer;
	&:hover {
	  color: rgb(32, 160, 255);
	}
  }
}


.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
	color: rgb(32, 160, 255);
  }
}

/* 滚动条样式美化  fangyuan*/
::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
width:0px;
height:5px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
background-color:#fdfcfc;
background-clip:padding-box;
min-height:28px;
border-radius:7px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#bbb;
}
/* 滚动条样式美化 */

/* 表格操作按钮样式 fangyuan*/
.el-table .handal-btn {
  margin-right: 8px;
  color: rgba(87, 142, 250, 1);
}

/* 分页容器公共样式 fangyuan */
.pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 平铺列表块视图公共样式 n2,n3即为横向排几个 fangyuan*/
ul.tile-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
	margin-bottom: 20px;
  }
}

ul.tile-list.n2 {
  li {
	margin-right: 1.3%;
	width: 49%;

	// padding: 20px;
	&:nth-of-type(2n) {
	  margin-right: 0;
	}
  }
}

ul.tile-list.n3 {
  li {
	margin-right: 1.3%;
	width: 32.4%;

	// padding: 20px;
	&:nth-of-type(3n) {
		  margin-right: 0;
	}
  }
}

ul.tile-list.n4 {
  li {
	margin-right: 2%;
	width: 23.5%;

	// padding: 20px;
	&:nth-of-type(4n) {
	  margin-right: 0;
	}
  }
}

ul.tile-list.n5 {
  li {
	margin-right: 1.5%;
	width: 18.8%;

	// padding: 20px;
	&:nth-of-type(5n) {
	  margin-right: 0;
	}
  }
}

/* 定制数据项表格样式 fangyuan */
table.yuan-table{
  tr{
	div{
	  margin-bottom:15px;
	  td:nth-child(1){
		// font-size:16px;
		color:rgba(51,51,51,1);
	  }
	  td:nth-child(2){
		text-indent: 24px;
		color:rgba(153,153,153,1);
		a{
		  color:rgb(64,158,255);
		  margin-left:24px;
		}
	  }
	}
  }
}

/* 四级联动定制样式 fangyuan*/
.area-cascader-wrapper{
  .area-select{
	width:100%!important;
	.area-selected-trigger{
	  padding:0!important;
	  text-indent: 10px;
	}
  }
}

/* 取色器样式 */
.color_block {
	display: flex;

	.el-input {
		width: 120px !important;
	}

	.colorBtn {
		margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
    width: 31px !important;
    height: 31px !important;
    border: 1px solid #ddd;
	}
}
.m-colorPicker{
  z-index:10;
  .box{
	  width:230px!important;
    left: -185px!important;
  }
}

.ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  color: $contentColor;
  font-size: 14px;
}

/* 分页样式 */
.page_styles{
  text-align: center;
  margin-top: 20px;
}

/**加一些公共样式***/
.noMargin{
  margin: 0;
}
.marL10{
  margin-left: 10px;
}
.marL20{
  margin-left: 20px;
}
.marL105{
  margin-left: 105px;
}
.marT10{
  margin-top: 10px;
}
.marT18{
  margin-top: 18px;
}
.marT20{
  margin-top: 20px;
}
.marT30{
  margin-top: 30px;
}
.marR10{
  margin-right: 10px;
}
.marR50{
  margin-right: 50px;
}
.marR20{
  margin-right: 20px;
}
.marR100{
  margin-right: 100px;
}
.marB10{
  margin-bottom: 10px;
}
.marB20{
  margin-bottom: 20px;
}
.padR40{
  padding-right: 40px;
}
.padL20{
  padding-left: 20px;
}
.font12{
  font-size: 12px;
}
.addMainColor{
  color: #655EFF;
}
.pointer{
  cursor: pointer;
}
.btn_container{
  margin: 20px 0 30px 0;
}
.border_btn{
  border-color: #655EFF;
  color: #655EFF;
}
.minor_btn{
  background-color: #E6E4FF;
  color: #655EFF;
  border: none;
}
.midText{
  text-align: center;
}
.yellow_btn{
  background-color: #FFF8EA;
  color: #FFB723;
  border: none;
}
/* 店铺装修中的滑动条样式 */
.slider-wrapper{
  width:100%;
  display:flex;
  justify-content: space-between;
  .el-slider{
	width:66%;
  }
  span{
	margin-right:20px;
  }
}

/* 上传器加号框样式 */
.el-upload{
  width:80px!important;
  height:80px!important;
  line-height:90px!important;
}
.el-upload-list__item{
  width:80px!important;
  height:80px!important;
}

.description {
  color: #92929B;
  font-size: 12px;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.table-header {
  display: flex;
  align-items: center;
  background: rgb(239, 238, 255);
  height: 46px;
  padding-left: 13px;
  .item {
      padding: 6px 21px;
      border-radius:17px;
      cursor: pointer;
      &.active {
          background: rgb(225, 223, 255);
      }
  }
}

.title-section {
  border: 1px solid rgb(202, 207, 203);
  border-radius: 5px;
  margin-bottom: 20px;
  .title-section-header {
      display: flex;
      justify-content: space-between;
      height: 60px;
      line-height: 60px;
      background-color: rgb(243, 244, 244);
      border-radius: 5px 5px 0 0;
      padding: 0 20px;
  }
  .content {
      padding: 20px;
  }
}

.row {
  display: flex;
  &.justify-center {
      justify-content: center;
  }
  &.justify-between {
      justify-content: space-between;
  }
  &.align-center {
      align-items: center;
  }
  .col {
      &.flex1 {
          flex: 1;
      }
  }
}

.coupon-box {
  .coupon {
      display: flex;
      .item {
          border-radius: 5px;
          background-color: #EC5D5D;
          color: #fff;
          padding: 7px 21px;
          &.lefter {
              border-right: 1px solid #b83f3f;
              background-image: url(../assets/images/order/coupon-border-left.png);
              background-position: left 3px;
              background-repeat: repeat-y;
          }
          &.righter {
              background-image: url(../assets/images/order/coupon-border-right.png);
              background-position: right 3px;
              background-repeat: repeat-y;
              padding-left: 14px;
              flex: 1;
              .limit {
                  color: #f5aeae;
              }
          }
      }
  }
  .coupon-code {
      margin-top: 10px;
      .coupon-code-header {
          height: 30px;
          line-height: 30px;
          background-color: #C23333;
          position: relative;
          top: 3px;
          text-align: left;
          color: #fff;
          font-size: 16px;
          padding-left: 10px;
      }
  }
} 

.blue {
  color: $globalMainColor;
}

// 按钮
.border-button {
  color: $globalMainColor;
  border: 1px solid $globalMainColor;
}

.orange {
  color: $warningColor;
}

.operate-box {
  span {
    color: $globalMainColor;
    margin-right: 20px;
    cursor: pointer;
  }
}

.table-box {
  .table-title {
    color: #B6B5C8;
    margin-bottom: 20px;
    span {
      color: rgb(75, 74, 82);
    }
  }
  .table {
    margin-left: 60px;
  }
}

.confirm {
  width: 500px;
  padding-bottom: 30px;
}
.confirm-big {
  width: 523px;
}
.confirm .el-message-box__header {
  background-color: rgb(241, 240, 255);
  .el-message-box__title {
      color: $contentColor
  }
}
.confirm .el-message-box__content {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  .el-message-box__message {
      text-align: center;
      .el-icon-warning {
          font-size: 60px;
          color: rgb(245, 88, 88);
      }
      .content-text {
          font-size: 18px;
          margin-top: 20px;
      }
  }
}
.confirm .el-message-box__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  button {
      order: 1;
  }
  .el-button--primary {
      order: 0;
  }
  .el-button:first-child {
      display: none;
  }
}

.goods-specs {
  margin-top: 10px!important;
  color: #9FA29F;
  font-size: 12px;
}

.el-steps {
  .el-step {
    .el-step__head {
      .el-step__icon {
        width: 36px;
        height: 36px;
        box-shadow: 0px 0px 0 7px #ededed;
        background-color: #cccccc;
        color: #fff;
        &.is-text {
          border: none;
        }
      }
      .el-step__line {
        top: 17px;
      }
      &.is-finish, &.is-success {
        .el-step__icon {
          box-shadow: 0px 0px 0 7px #d0ceff;
          background-color: #655EFF;
          color: #fff;
        }
      }

    }
    .el-step__main {
      .el-step__title {
        color: #44434B;
      }
      .el-step__description {
        color: #9FA29F;
      }
    }
  }
}

// .edui-editor{
//     z-index: initial!important;
// }

.content-menu:empty {
  display: none;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px!important;
//   background: rgba(101,94,255,.4)!important;
// }
// ::-webkit-scrollbar-track {
//   border-radius: 0!important;
//   background: rgba(101,94,255,.1)!important;
// }
// #app .main-container {
//   overflow-x: hidden;
// }

.app-main .content-main .app-content {
  min-height: calc(100vh - 100px);
}

.app-main .content-main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.app-main .content-main::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  background: rgba(101,94,255,.4)!important;
}
.app-main .content-main::-webkit-scrollbar-track {
  border-radius: 0!important;
  background: rgba(101,94,255,.1)!important;
}
.content-main{
  .el-pagination{
    font-weight: normal;
  }
}

.el-select .el-input .el-select__caret:before {
  content: "\e78f";
}


